{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">{{ legend }}</span>
  </nav>
{% endblock header %}

{% block content %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">

                {{ form.reference.label(class="form-control-label mt-1") }}
                {% if form.reference.errors %}
                    {{ form.reference(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.reference.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.reference(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.cvnotes.label(class="form-control-label mt-1") }}
                {% if form.cvnotes.errors %}
                    {{ form.cvnotes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cvnotes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.cvnotes(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.date_entered.label(class="form-control-label mt-1") }}
                {% if form.date_entered.errors %}
                    {{ form.date_entered(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date_entered.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date_entered(class="form-control form-control-lg") }}
                {% endif %}
     
                {{ form.role.label(class="form-control-label mt-1") }}
                {% if form.role.errors %}
                    {{ form.role(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.role.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.role(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.source.label(class="form-control-label mt-1") }}
                {% if form.source.errors %}
                    {{ form.source(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.source.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.source(class="form-control form-control-lg") }}
                {% endif %}
                
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>

{% endblock content %}