{% extends "layout.html" %}

{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">CV History: Reference {{ cv_ref }} Created {{ cv_date.strftime('%d-%m-%Y') }}</span>
    <form class="form-inline">
    </form>
  </nav>
{% endblock header %}

{% block content %}

<table class="table table-striped" id="cvhistory">
  <thead>
    <tr>
      <th scope="col">Date Changed</th>
      <th scope="col">Status From</th>
    </tr>
  </thead>

  <tbody>
    {% for cv in cvs %}
      <tr>
        <!-- Loop each CV field -->
        <td> {{ cv.date_changed.strftime('%d-%m-%Y') }} </td>
        <td> {{ cv.statuschange.name }} </td>
      </tr>     
    {% endfor %}
  </tbody>
</table>

{% endblock content %}