{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">CVs</span>
    <form class="form-inline">
      <a href="{{ url_for('cv_entry') }}" class="btn btn-outline-primary" role="add" >Add +</a>
    </form>
  </nav>
{% endblock header %}

{% block content %}

<table class="table table-striped" id="cvlist">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Role</th>
      <th scope="col">Hiring Manager</th>
      <th scope="col">Status</th>
      <th scope="col">Date Entered</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for cv in cvs %}
      <tr>
        <!-- Loop each CV field -->
        <td> {{ cv.reference }} </td>
        <td> {{ cv.role.title }} </td>
        <td> {{ cv.role.mgrrole.name }} </td>
        <td> {{ cv.status }} </td>
        <td> {{ cv.date_entered.strftime('%Y-%m-%d') }} </td>
        <td> <a href="{{ url_for('cv_edit', cv_id=cv.id) }}" class="btn btn-light" role="edit" >Edit</a> </td>
      </tr>     
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block footer %}

<script type="text/javascript">
$(document).ready(function() {
  $('#cvlist').DataTable();
} );
</script>

{% endblock footer %}