  
{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
        <canvas id="cv-pie-chart" height="250"></canvas>
        </div>
        <script>
            var data = {{ convcvcount|safe }}  
            var myChart = new Chart(document.getElementById("cv-pie-chart"), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: "CVs by status",
                    backgroundColor: palette('cb-Blues', data.labels.length).map(function(hex) {
                        return '#' + hex;
                    }),
                    data: data.data
                }]
            },
            options: {
            title: {
                display: true,
                text: 'CVs by status'
            }
            }
        });
        </script>

        <div class="col-6">
        <canvas id="role-pie-chart" height="250"></canvas>
        </div>
        <script>
            var data = {{ convrolecount|safe }}  
            var myChart = new Chart(document.getElementById("role-pie-chart"), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: "Roles by status",
                    backgroundColor: palette('cb-Blues', data.labels.length).map(function(hex) {
                        return '#' + hex;
                    }),
                    data: data.data
                }]
            },
            options: {
            title: {
                display: true,
                text: 'Roles by status'
            }
            }
        });
        </script>
    </div>
</div>



{% endblock content %}