  
{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
            <h3>CVs by status</h3>
            <canvas id="cv-pie-chart" height="250"></canvas>
        </div>
        <script>
            var data = {{ convcvcount|safe }}  
            var myChart = new Chart(document.getElementById("cv-pie-chart"), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: "CVs by status",
                    backgroundColor: palette('cb-Blues', data.labels.length).map(function(hex) {
                        return '#' + hex;
                    }),
                    data: data.data
                }]
            },
            options: {

                onClick: function(e, arr) {
                    idx = arr[0]["_index"]
                    clicked = this.data.labels[idx]
                    window.location.href = "/cvquery?id="+clicked;
                },
            }
        });
        </script>

        <div class="col-6">
            <h3>Roles by status</h3>
            <canvas id="role-pie-chart" height="250"></canvas>
        </div>
        <script>
            var data = {{ convrolecount|safe }}  
            var myChart = new Chart(document.getElementById("role-pie-chart"), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: "Roles by status",
                    backgroundColor: palette('cb-Blues', data.labels.length).map(function(hex) {
                        return '#' + hex;
                    }),
                    data: data.data
                }]
            },
            options: {

                onClick: function(e, arr) {
                    idx = arr[0]["_index"]
                    clicked = this.data.labels[idx]
                    window.location.href = "/rolequery?id="+clicked;
                },
            },
        });
        </script>
    </div>
</div>



{% endblock content %}