{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">Hiring Managers</span>
    <form class="form-inline">
      <a href="{{ url_for('mgr_entry') }}" class="btn btn-outline-primary" role="add" >Add +</a>
    </form>
  </nav>
{% endblock header %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
      {% for mgr in mgrs %}
      
          <p>{{ mgr.name }}</p>
      
      {% endfor %}
    </td>
    <td>
        {% for mgr in mgrs %}
        
            <p>{{ mgr.status }}</p>
        
        {% endfor %}
      </td>
    <tr>
  </tbody>
</table>

{% endblock content %}