{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">Hiring Managers</span>
    <form class="form-inline">
      <a href="{{ url_for('mgr_entry') }}" class="btn btn-outline-primary" role="add" >Add +</a>
    </form>
  </nav>
{% endblock header %}

{% block content %}

<table class="table table-striped" id="mgrlist">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  
  <tbody>
    {% for mgr in mgrs %}
      <tr>
          <td> {{ mgr.name }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block footer %}

<script type="text/javascript">
$(document).ready(function() {
  $('#mgrlist').DataTable();
} );
</script>

{% endblock footer %}