{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">Add status</span>
  </nav>
{% endblock header %}

{% block content %}

    <table class="table table-striped" id="rolestatus">
    <thead>
      <tr>
        <th scope="col">Statuses</th>
      </tr>
    </thead>
    
    <tbody>
        {% for status in statuses %}
            <tr>
                <td> {{ status.name }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>

{% endblock content %}

{% block footer %}

<script type="text/javascript">
$(document).ready(function() {
  $('#rolestatus').DataTable();
} );
</script>

{% endblock footer %}