{% extends "layout.html" %}

{% block content %}

<table class="table table-striped" id="rolequery">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Manager</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for role in rolequery %}
      <tr>
        <td> {{ role.title }} </td>
        <td> {{ role.mgrrole.name }} </td>
        <td> {{ role.date_opened.strftime('%d-%m-%Y') }} </td>
        <td> {{ role.rolestatus.name }} </td>
        <td> <a href="{{ url_for('role_edit', role_id=role.id) }}" class="btn btn-light" role="edit" >Edit</a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
