{% extends "layout.html" %}


{% block header %}
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand text-primary h1">{{ legend }}</span>
  </nav>
{% endblock header %}

{% block content %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">

                {{ form.title.label(class="form-control-label mt-1") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.notes.label(class="form-control-label mt-1") }}
                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.notes(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.date_opened.label(class="form-control-label mt-1") }}
                {% if form.date_opened.errors %}
                    {{ form.date_opened(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date_opened.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date_opened(class="form-control form-control-lg") }}
                {% endif %}
     
                {{ form.manager.label(class="form-control-label mt-1") }}
                {% if form.manager.errors %}
                    {{ form.manager(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.manager.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.manager(class="form-control form-control-lg") }}
                {% endif %}
                
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>

{% endblock content %}